
/*
Farve palette
#406718 mørkeste grøn		
#690 grøn
#3C0 lys grøn
*/

body{
    background-color: black;
    margin: 0 auto;
    width: 90%;
}

.header{
    background-color: #407618;
    text-align: center;
    padding-top: 1px;
    padding: -10px;
}

.header-nav{
    display:flex;
    justify-content: space-around;
    background-color: #690;
    border-top: #3c0 solid 3px;
    border-bottom: #3c0 solid 3px;
}
.header-nav > a, .header > h1{
    color: white;
}
.header-nav > a {
    padding: 8px;
}

.img-main{
    height: 100%;
    width: 70%;
    margin: 15px;
}
.main-article{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-p, .bike-title, .header{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-p{
    color: white;
    border: #690 solid 3px;
    margin: 15px;
    font-size: 0.8em;
    padding: 5px;
}
.bike-background{
    background-color: #407618;
    border: #690 solid 3px;
}
.bikes{
    display: flex;
    color: white;
    text-align: center;
}
.bike-title{
    font-size: 1.5em;
    padding: 0px;
}
.bike-background{
    width: 190px;
    margin:10px;
    padding-top: -10px;
    padding-bottom: 20px;
    height: 235px;
}
@media (min-width: 800px){
     .header-nav> a {
        font-size: 0.75em;
     }
     .bikes{
         flex-direction:row;
        }
    .main-p{
        padding-top: 0px;
        padding-bottom: 20px;
    }         
    
}

@media (max-width: 799px){
    body{
        width: 100%;
    }
    .main-p{
       padding-left:20px;
       margin-bottom: 0px;
       font-size: 1.5ch;
    }
    .main-article{
        display:flex;
        flex-direction: column-reverse;
    }
     .header > h1{
          font-size: 1.2em;
          padding: 12px;
     }
     .img-main{
         width: 95.5%;
     }
     .header-nav{
         flex-wrap: wrap;
     }
     .header-nav > a {
        font-size: 0.50em;
     }
     .bikes{
         flex-direction: column;
         align-items: center;
     }
}